.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.header a {
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header-container {
  padding-top: 16px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__logo {
  font-family: 'Raleway', sans-serif;
  @include fonts(24px, 700, 1.16);
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--hover-color);

  transition: text-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.container__logo_span-black {
  color: var(--dark-color);
}

.burger-social-link-list_link {
  @include fonts(18px, 500, 1.16);
  color: var(--hover-color);
  font-style: normal;

  &::after {
    content: ' ';
    border: 0.5px solid rgba(33, 33, 33, 0.2);
    height: 22px;
    margin-left: 10px;
    background-color: rgba(33, 33, 33, 0.2);
  }
}
// 0px - 767px
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }

  .marker-list {
    display: none;
  }

  .open-burger-btn {
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .open-burger-btn__burger-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .open-burger-btn:hover & {
      fill: var(--hover-color);
    }
  }

  .burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-bottom: 38px;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-100%);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      z-index: 1;
    }
  }

  .mobile-menu__container {
    position: relative;
    padding-left: 40px;
  }

  .burger-menu__close_btn {
    position: absolute;
    top: 16px;
    right: 15px;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .burger-menu__svg {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .burger-menu__close_btn:hover & {
      fill: var(--hover-color);
    }
  }

  .burger-menu-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
  }

  .nav-burger-menu {
    padding-top: 48px;
  }

  .burger-nav-list__marker-list:first-child {
    margin-bottom: 36px;
  }

  .burger-nav-list__marker-list:nth-child(2) {
    margin-bottom: 32px;
  }

  .burger-nav-list__link {
    @include fonts(40px, 500, 1.17);

    color: var(--dark-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: var(--hover-color);
    }
  }

  .current {
    color: var(--hover-color);
  }

  .burger-adress-list {
    margin-bottom: 64px;
  }

  .burger-adress-list__item:first-child {
    margin-bottom: 32px;
  }

  .burger-adress-list__adress-link {
    @include fonts(34px, 500, 1.17);
    color: var(--hover-color);
    font-style: normal;
  }

  .burger-adress-list__mail-link {
    @include fonts(24px, 500, 1.16);
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-style: normal;

    &:hover {
      color: var(--hover-color);
    }
  }

  .burger-social-link-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .burger-social-link-list__item {
    padding-bottom: 10px;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
// 768px - 1199px
@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .open-burger-btn {
    display: none;
  }

  .header-container {
    padding-top: 26px;
    padding-bottom: 21px;
  }

  .header-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marker-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .marker-list .nav-link {
    position: relative;
    padding-bottom: 32px;

    font-size: 12px;
    font-weight: var(--font-weight-main);
    line-height: 1.14;
    text-decoration: none;
    color: var(--dark-color);
    letter-spacing: 0.02em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }

  .nav-link.current {
    color: var(--hover-color);

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: #2196f3;
      border-radius: 2px;
    }
  }

  .marker-list__contact-item {
    display: flex;

    align-items: flex-end;
  }

  .marker-list__contact-item:first-child {
    margin-bottom: 10px;
  }

  .contact-link {
    display: flex;
    align-items: center;
    @include fonts(12px, 500, 1.16);
    color: var(--main-color);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--hover-color);
    }
  }

  .contact-link__icon-header-mail {
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .contact-link:hover & {
      fill: var(--hover-color);
    }
  }
}
// 1200px -
@media screen and (min-width: 1200px) {
  .header-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 27px;
    padding-top: 32px;
  }

  .container__logo {
    margin-right: 93px;
  }

  .marker-list__item:not(:last-child) {
    margin-right: 50px;
  }

  .header-list-contact {
    display: flex;
    margin-left: auto;
  }

  .marker-list__contact-item:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .contact-link {
    @include fonts(14px, 500, 1.16);
  }

  .marker-list .nav-link {
    font-size: 14px;
  }
}
