.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 15px;
  // z-index: 3;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 250ms $cubic-bezier;

  // &.is-open .icon-cross {
  //   // display: block;
  //   opacity: 1;
  //   visibility: visible;
  // }

  &.is-open .icon-menu {
    // display: none;
    opacity: 0;
    visibility: hidden;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    color: $color-blue;
  }

  &__icon {
    fill: currentColor;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.icon-menu {
  transition: opacity 250ms $cubic-bezier;
}

.icon-cross {
  // display: none;
  // opacity: 1;
  transition: opacity 250ms $cubic-bezier;
}

.menu-container {
  display: flex;

  @media screen and (max-width: 767px) {
    // display: none;
    // display: block;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 48px 40px;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    background-color: $color-white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    // opacity: 0;
    // visibility: hidden;
    transform: translateX(101%);
    transition: transform 250ms $cubic-bezier;

    &.is-open {
      // display: block;
      // opacity: 1;
      // visibility: visible;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 93px;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    justify-content: space-between;
    flex-grow: 1;
  }
}

.nav__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 50px;
  }
}

.nav__link {
  @media screen and (max-width: 767px) {
    display: inline-block;
  }

  &--current {
    color: $color-blue;
  }

  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.contact-block {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.contact {
  @media screen and (max-width: 767px) {
    // position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;

    &__icon {
      display: none;
    }

    &__mail {
      // margin-bottom: 64px;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.17;
      letter-spacing: 0.02em;

      color: $secondary-text-color;
    }

    &__tel {
      // position: absolute;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.18;
      letter-spacing: 0.02em;
      color: $color-blue;
    }
  }
}

.mobile-social {
  display: inline-flex;
  flex-wrap: wrap;
  row-gap: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $color-blue;

  &__item {
    padding-left: 0;
    padding-right: 10px;

    &:not(:first-child) {
      padding-left: 10px;
      border-left: 1px solid rgba(33, 33, 33, 0.2);
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
