.social {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.social__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: $social-links-color;
  transition: color 250ms $cubic-bezier, background-color 250ms $cubic-bezier;

  &--in-footer {
    color: $color-white;
    background-color: rgba(255, 255, 255, 0.1);
  }

  &:hover,
  &:focus {
    background-color: $color-blue;
    color: $color-white;
  }
}

.social__icon {
  fill: currentColor;
}
