//  Глобальные миксины, функции,вспомогательные селекторы и т.д.
:root {
    --main-color: #757575;

    --dark-color: #212121;

    --secondary-color: #ffffff;

    --footer-link-color: rgba(255, 255, 255, 0.6);

    --hover-color: #2196f3;

    --font-text: 14px;

    --font-weight-main: 500;
}

@mixin fonts ($fs,$ff,$lh) {
    font-size: $fs;
    font-weight: $ff;
    line-height: $lh;
    
}