@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");

$color-blue: #2196f3;
$color-white: #ffffff;
$body-background: #f5f5f5;
$footer-background: #2f303a;
$text-color: #212121;
$secondary-text-color: #757575;
$contancts-txt-clr: rgba(255, 255, 255, 0.6);
$button-color: #f5f4fa;
$buton-active-color: #188ce8;
$social-links-color: #afb1b8;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
